<div class="header d-flex justify-content-between p-3">
  <h2>Favorite books</h1>
  <%= link_to 'Ajouter livre', new_book_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <% @books.each do |book| %>
  <%= link_to book, class: 'text-decoration-none' do  %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title mb-1 text-dark"><%= book.title %></h5>
        <p class="text-secondary"><%= book.description %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

